// Body
$body-bg: #fff;
$body-color: #484848;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #007bff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #f2232d;
$orange: #f6993f;
$yellow: #ecb200;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
